@charset "utf-8";
/* CSS Document */

.orange {
    color:#e17e2f;
}
#jcv.contents {
    background: #fff url("../images_jcv/jcv-bak.jpg") no-repeat scroll top left;
}
#jcv.contents .content_body .horizon {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(210, 210, 210, 0.9)), color-stop(15%,rgba(255, 255, 255, 0.9)), color-stop(100%,rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(210, 210, 210, 1) 0%,rgba(255, 255, 255, 1) 15%,rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(top, rgba(210, 210, 210, 0.9) 0%,rgba(255, 255, 255, 0.9) 15%,rgba(255, 255, 255, 1) 100%);
}
#jcv.contents .content_body .horizon {
    height: 338px;
    width: 998px;
    margin: 0px auto;
}
#jcv.contents h2 {
    width: 600px;
    font-size: 21px;
}
#jcv.contents .hor_mask {
    overflow: hidden;
    height: 338px;
    position: absolute;
    top: 196px;
}
#jcv.contents .head_list_item {
    padding-left: 60px;
    text-align: left;
    font: 19px ITCFranklinGothicStd, "Arial Narrow",arial;
    color: #ef984a;
    width: 600px;
}
#jcv.contents .head_list_item span{
    color: #231f20;
}
#jcv .show_all {
	position: absolute;
	right: 10px;
	font-weight: normal;
	z-index: 10;
	top: 30px;
}


#content_box{
	/*background: url(../images/content_box_bg.png) no-repeat top left;*/
	left: 1000px;
	top:60px;
	z-index: 1000;
	width: 650px;
height: 425px;
position: absolute;
-webkit-transform: translate3d(37px,25px,0px);
-webkit-transform-style: preserve-3d;	
}

.tab-fix{
	height: 34px;
width: 332px;
display: none;
left: -25px;
top: 55px;
position: absolute;
z-index: 500;
}
#jcv #JCV-, #jcv .JCV- {
    position: absolute;
    top: 154px;
    left: 170px;
}
#jcv #JCV-  {
  /*  -webkit-transform: translate3d(85px, 41px, 0px) scale(.35);*/
    height: 85px;
    /*opacity: 0;*/
/* 	-webkit-transition-property: -webkit-transform, height, opacity;
    -webkit-transition-duration: 1.6s,1.6s,0s;
    -webkit-transition-delay: 0s,0s,1.6s;
    -webkit-transition-timing-function: ease-out, ease-out, ease-in;
    transition-property: -webkit-transform, height, opacity;
    transition-duration: 1.6s,1.6s,0s;
    transition-delay: 0s,0s,1.6s;
    transition-timing-function: ease-out, ease-out, ease-in; */
}
#jcv .JCV-  {
    /*-webkit-transform: translate3d(-37px, 0px, 0px);*/
    height: 85px;
  /*  opacity: 1;*/
/* 	-webkit-transition-property: -webkit-transform, opacity;
    -webkit-transition-duration: 1s,0s;
    -webkit-transition-delay: 1.6s,1.6s;
    -webkit-transition-timing-function: ease-out, ease-in;
    transition-property: -webkit-transform, opacity;
    transition-duration: 1s,0s;
    transition-delay: 1.6s,1.6s;
    transition-timing-function: ease-out, ease-in; */
}
#jcv.state-0 #JCV-  {
    opacity: 1;
/*    -webkit-transform: translate3d(170px, 154px, 0px);*/
}
#jcv #JCV- .side_text{
	top: 122px;
    right: 45px;
/* 	-webkit-transition-property: opacity;
    -webkit-transition-duration: 0.5s; */
    opacity: 0;
}
#jcv.state-0 #JCV- .side_text{
	opacity: 1;
}
#jcv .JCV- .bg_img {
    background: transparent url("../images/jcv-.png") no-repeat scroll top left;
    height: 64px;
    width: 251px;
}
#jcv #JCV- .bg_img {
    height: 64px;
    width: 126px;
    position: relative;
    overflow: visible;
}
#jcv #JCV- .bg_img .inner{
   
    height: 126px;
    width: 251px;
    position: absolute;
    top: 0px;
    right: 0px;
}

#JCVplus .bg_img img{
	position:absolute;}
	
	
#jcv .JCV- .bg_img {
	-webkit-transform: scale(.35);
}
#jcv .JCV- .side_text, #jcv .JCVplus .side_text,
#jcv .JCV- .bg_img, #jcv .JCVplus .bg_img
 {
/* 	-webkit-transition-property: opacity;
    -webkit-transition-duration: 2.5s;
    -webkit-transition-delay: 1.6s;
    -webkit-transition-timing-function: ease-out; */
}
#jcv.state-1 .JCV- .bg_img, #jcv.state-1 .JCVplus .bg_img {
/* 	-webkit-transition-property: opacity;
    -webkit-transition-duration: 0.1s;
    -webkit-transition-delay: 1.6s;
    -webkit-transition-timing-function: ease-out; */
}
#jcv.state-0 .JCV- .bg_img,
#jcv.state-0 .JCVplus .bg_img{
	opacity: 0;
}

#jcv.state-1 .JCV- .bg_img,
#jcv.state-1 .JCVplus .bg_img{
	opacity: 1;
}

#jcv.state-0 .JCV- .side_text{
	-webkit-transform: scale(0.6);
	opacity: 0;
}

#jcv.state-1 #JCV- .side_text {
    top: 122px;
	opacity: 0;
}
#jcv.state-2 #JCV- .side_text {
    display: none;
}
#jcv.state-0 #JCV- .bg_img {
	
}
#jcv #JCVplus, #jcv .JCVplus {
    position: absolute;
    top: 121px;
    left: 364px;
}
#jcv #JCVplus {
    /*-webkit-transform: translate3d(365px, 36px, 0px) scale(.34);*/
    height: 85px;

/* 	-webkit-transition-property: -webkit-transform, height, opacity;
    -webkit-transition-duration: 1.6s,1.6s,0s;
    -webkit-transition-delay: 0s,0s,1.6s;
    -webkit-transition-timing-function: ease-out, ease-out, ease-in;
    transition-property: -webkit-transform, height, opacity;
    transition-duration: 1.6s,1.6s,0s;
    transition-delay: 0s,0s,1.6s;
    transition-timing-function: ease-out, ease-out, ease-in; */
}
#jcv .JCVplus {
    height: 120px;
    opacity: 1;
    -webkit-transform: translate3d(-31px, -31px, 0px) scale(.35);
/* 	-webkit-transition-property: -webkit-transform, opacity;
    -webkit-transition-duration: 1s,0s;
    -webkit-transition-delay: 1.6s,1.6s;
    -webkit-transition-timing-function: ease-out, ease-in;
    transition-property: -webkit-transform, opacity;
    transition-duration: 1s,0s;
    transition-delay: 1.6s,1.6s;
    transition-timing-function: ease-out, ease-in; */
}
#jcv.state-0 #JCVplus{
/* 	-webkit-transition-property: -webkit-transform, opacity;
    -webkit-transition-duration: 1s,0s;
    -webkit-transition-delay: 1.6s,1.6s; */
}
#jcv.state-0 #JCVplus {
/*    -webkit-transform: translate3d(364px, 121px, 0px);*/
    opacity: 1;
}
#jcv .JCVplus .side_text {
	opacity: 0;
	/*-webkit-transform: translate3d(343px, -103px, 0px) scale(1.78);*/
}
#jcv.state-1 .JCVplus .side_text {
	-webkit-transform: translate3d(343px, -97px, 0px) scale(1.78);
	font-weight: bold;
	line-height: 0.95em;
	opacity: 0.3;
}
#jcv.state-1 .JCV- .side_text {
	-webkit-transform: scale(0.6);
	font-weight: bold;
	top: -3px;
	left: 157px;
	line-height: 0.95em;
	opacity: 1;
}
#jcv.state-2 .JCV- .side_text,
#jcv.state-3 .JCV- .side_text,
#jcv.state-4 .JCV- .side_text,
#jcv.state-5 .JCV- .side_text,
#jcv.state-6 .JCV- .side_text,
#jcv.state-7 .JCV- .side_text {
	-webkit-transform: translate3d(113px, -70px, 0px) scale(0.6);
	opacity: 0.3;
	font-weight: bold;
	line-height: 0.95;
	bottom: -46px;
}
#jcv.state-2 .JCVplus .side_text,
#jcv.state-3 .JCVplus .side_text,
#jcv.state-4 .JCVplus .side_text,
#jcv.state-5 .JCVplus .side_text,
#jcv.state-6 .JCVplus .side_text,
#jcv.state-7 .JCVplus .side_text {
	-webkit-transform: translate3d(347px, -99px, 0px) scale(1.78);
	font-weight: bold;
	opacity: 1;
	line-height: 1em;
}
#jcv #JCVplus .bg_img, #jcv .JCVplus .bg_img {
   
    height: 126px;
    width: 253px;
}
#jcv.state-0 #JCVplus .bg_img {
    -webkit-box-reflect: below -8px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(75%, transparent), color-stop(80%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.25)));
}
#jcv #JCVplus .side_text {
    top: 155px;
    width: 173px;
    padding: 0px 40px;
/* 	-webkit-transition-property: opacity;
    -webkit-transition-duration: 0.5s; */
    opacity: 0;
}
#jcv.state-0 #JCVplus .side_text{
	opacity: 1;
}
#jcv.state-1 #JCVplus .side_text{
	opacity: 0;
}
#jcv .side_text {
    font: 34px ITCFranklinGothicStd, "Arial Narrow",arial;
    color: #222;
    position: absolute;
    text-align: center;
}
#jcv #box_content {
    position: absolute;
    top: 23px;
    left: 0;
    -webkit-perspective-origin: 100% 50%;
    -webkit-perspective: 2000;
    width: 998px;
    height: 420px;
}

#jcv #box_content #front_face{
	 background: #efefef;}
#jcv #front_box {
	top:30px;
	left:1000px;
    width: 650px;
    height: 425px;
    position: absolute;
    /*-webkit-transform: translate3d(37px,25px,0px);*/
/*     -webkit-transition: -webkit-transform 1.6s ease-out;
    transition: -webkit-transform 1.6s ease-out; */
    -webkit-transform-style: preserve-3d;
}

#jcv #back_box {
	left:-1000px;
}

#backbox_bg{
/*	position: absolute;
top: 58px;
height: 100%;
width: 100%;
background: url(../images/content_box_BG2.png) no-repeat top left;*/
}
#jcv .front_face {
	z-index:200;
    height: 269px;
    width: 628px;
    color: #656161;
    font: bold 16.5px ITCFranklinGothicStd, "Arial Narrow",arial;
    position: absolute;


    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(84%, transparent), color-stop(87%, rgba(255, 255, 255, 0.1)), color-stop(92%, rgba(255, 255, 255, 0.35)), to(rgba(255, 255, 255, 0.35)));
    
    
}
#jcv #back_box .front_face {
    -webkit-box-reflect: none;
}
#jcv #front_box .front_face .left_side {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 269px;
    width: 354px;
    overflow: hidden;

}
#jcv.state-0 #front_box .front_face .left_side, #jcv.state-1 #front_box .front_face .left_side {
    height: 269px;
    width: 294px;
}
#jcv #front_box .front_face .left_side .inner {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 269px;
    width: 450px;
    background: #efefef;

    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.2), inset 0px 0px 160px -1px rgba(200,200,200,0.8);
    -webkit-box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.2), inset 0px 0px 160px -1px rgba(200,200,200,0.8);
}
#jcv.state-1 #front_box .front_face .left_side .inner {
    background: -webkit-gradient(radial, 0% 100%, 0px, 0% 100%, 400px, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.04))),
                -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.15)), color-stop(26%,rgba(0,0,0,0))),
                #efefef; /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(0% 100%, 420px 340px, rgba(0,0,0,0) 80%,rgba(0,0,0,0.04) 100%),
                -webkit-linear-gradient(top, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0) 26%), 
                #efefef; /* Chrome10+,Safari5.1+ */
    background: radial-gradient(0% 100%, 420px 340px, rgba(0,0,0,0) 0%,rgba(0,0,0,0.04) 100%),
                linear-gradient(to bottom, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0) 26%), 
                #efefef; /* W3C */
}
#jcv.state-0 #front_box .front_face .left_side .inner, #jcv.state-1 #front_box .front_face .left_side .inner {
    height: 350px;
    width: 450px;
}
#jcv #front_box .front_face .right_side {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 269px;
    width: 294px;
    overflow: hidden;
}
#jcv.state-0 #front_box .front_face .right_side, #jcv.state-1 #front_box .front_face .right_side {
    height: 269px;
    width: 334px;
}
#jcv #front_box .front_face .right_side .inner {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 350px;
    width: 450px;
    background: #efefef; /* Chrome,Safari4+ */
    border-top-right-radius: 5px;

    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.2), inset 0px 0px 160px -1px rgba(200,200,200,0.8);
    -webkit-box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.2), inset 0px 0px 160px -1px rgba(200,200,200,0.8);
}
#jcv.state-2 #front_box .front_face .right_side .inner,
#jcv.state-3 #front_box .front_face .right_side .inner,
#jcv.state-4 #front_box .front_face .right_side .inner,
#jcv.state-5 #front_box .front_face .right_side .inner,
#jcv.state-6 #front_box .front_face .right_side .inner,
#jcv.state-7 #front_box .front_face .right_side .inner {
    background: -webkit-gradient(radial, 100% 100%, 0px, 0% 100%, 400px, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.04))),
                -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.15)), color-stop(26%,rgba(0,0,0,0))),
                #efefef; /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(100% 100%, 390px 340px, rgba(0,0,0,0) 80%,rgba(0,0,0,0.04) 100%),
                -webkit-linear-gradient(top, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0) 26%), 
                #efefef; /* Chrome10+,Safari5.1+ */
    background: radial-gradient(100% 100%, 420px 340px, rgba(0,0,0,0) 0%,rgba(0,0,0,0.04) 100%),
                linear-gradient(to bottom, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0) 26%), 
                #efefef; /* W3C */
}
#jcv.state-0 #front_box .front_face .right_side .inner, #jcv.state-1 #front_box .front_face .right_side .inner {
    height: 269px;
    width: 450px;
}
#jcv.state-0 #front_box {
    -webkit-transform: translate3d(1000px,25px,0px);
}
#jcv #box_content .tab {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 320px;
    height: 60px;
	display:block;
	cursor:pointer;
   

   /*  -webkit-transition: -webkit-transform 1s ease-out; */
}
#jcv #box_content #leftTab {
	z-index:2000;
    /*-webkit-transform: translate3d(0px,0px,-100px);*/
}

#jcv #box_content #rightTab {
	z-index:2000;
    /*-webkit-transform: translate3d(0px,0px,-100px);*/
}

#jcv.state-0 #box_content #leftTab, #jcv.state-1 #box_content #leftTab {
    -webkit-transform: translate3d(0px,0px,0px);
}
#jcv #box_content .tab_bak, #jcv #box_content .tab_fwd {
    width: 340px;
    height: 70px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    /* -webkit-transition: opacity 1s ease-in; */
}


#jcv #box_content #leftTab img{
	display:none;
left: 0;
top: 0;
position: absolute;}

#jcv #box_content #rightTab img{
left: 0;
top: 0;
position: absolute;}

#jcv #box_content .tab_bak .inner, #jcv #box_content .tab_fwd .inner {
    width:320px;
    height: 200px;
   /* background: #efefef;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: inset 0px 80px 160 -1px rgba(200,200,200,0.8);
    -webkit-box-shadow: inset 0px 0px 160px -1px rgba(200,200,200,0.8);*/
}
#jcv #box_content .tab_bak .inner{
   /* background: #b5b4b4;
    box-shadow: inset 10px 10px 160px -1px rgba(10, 10, 10, 0.5);
    -webkit-box-shadow: inset 10px 10px 160px -1px rgba(10, 10, 10, 0.5);*/
}
#jcv #box_content .tab_bak,
#jcv #box_content #rightTab .tab_fwd,
#jcv.state-0 #box_content #leftTab .tab_fwd, #jcv.state-1 #box_content #leftTab .tab_fwd {
    opacity: 1;
}
#jcv #box_content #leftTab .tab_fwd, 
#jcv.state-0 #box_content #rightTab .tab_fwd, #jcv.state-1 #box_content #rightTab .tab_fwd {
    opacity: 0;
}
#jcv #box_content .tab .right_shadow {
    -webkit-transform: translate3d(293px,1px,0px);
    height: 60px;
    width: 100px;

}
#jcv #box_content .tab .right_shadow .outer_shadow {
    height: 60px;
}
#jcv #box_content .tab .right_shadow .outer_shadow .shadow_box {
    height: 60px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.5)), color-stop(100%,rgba(100,100,100,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(100,100,100,0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(100,100,100,0.5) 100%); /* W3C */
    
}
#jcv #box_content #rightTab {
	left:368px;
   
    -webkit-box-shadow: none;
    box-shadow: none;
}

#rightTab .JCVplus{
	display:none;}

#leftTab .JCV-{
	display:none;}
#jcv #box_content #rightTab  img.tab_img{
	display:none;
	left:31px;
	top:1px;
	width:95%;
	height:95%;
	
}

#back_box .right_shadow{

-webkit-transform: translate3d(608px,55px,-140px) !important;
}

#jcv.state-0 #box_content #rightTab, #jcv.state-1 #box_content #rightTab {
    
}
#jcv #back_box {
    width: 650px;
    height: 425px;
    color: #656161;
    font: bold 16.5px ITCFranklinGothicStd, "Arial Narrow",arial;
    position: absolute;
	left:-1000px;
	top: 30px;
    /* Starting point for animation
    left: 0px;
    -webkit-transform: translate3d(37px,25px,-100px);
    /* -webkit-transition: -webkit-transform 1s ease-out;
    transition: -webkit-transform 1s ease-out; */
    -webkit-transform-style: preserve-3d;
    pointer-events: none;
}
#jcv #back_box .front_face {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,245,245,0.5)), color-stop(100%,rgba(244,245,245,0.5))), -webkit-gradient(linear, left bottom, right top, color-stop(38%,#a9a9a9), color-stop(70%,#737071)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(244,245,245,0.5) 0%,rgba(244,245,245,0.5) 100%), -webkit-linear-gradient(60deg, #a9a9a9 38%,#737071 70%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, rgba(244,245,245,0.5) 0%,rgba(244,245,245,0.5) 100%), linear-gradient(60deg, #a9a9a9 38%,#737071 70%); /* W3C */
}
#jcv #back_box .front_face .left_side {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 269px;
    width: 334px;
    overflow: hidden;
}
#jcv #back_box .front_face .left_side .inner {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 269px;
    width: 450px;

    box-shadow: inset 10px 0px 160px -1px rgba(10, 10, 10, 0.5);
    -webkit-box-shadow: inset 10px 0px 160px -1px rgba(10, 10, 10, 0.5);
}
#jcv #back_box .front_face .right_side {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 269px;
    width: 294px;
    overflow: hidden;
}
#jcv #back_box .front_face .right_side .inner {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 450px;
    width: 450px;
    background: -webkit-gradient(radial, 100% 100%, 0px, 0% 100%, 400px, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.04))),
                -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.15)), color-stop(26%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(100% 100%, 550px 390px, transparent 65%,rgba(0, 0, 0, 0.23) 100%),
                -webkit-linear-gradient(top, rgba(0, 0, 0, 0.20) 0%,transparent 75%); /* Chrome10+,Safari5.1+ */
    background: radial-gradient(100% 100%, 420px 340px, rgba(0,0,0,0) 0%,rgba(0,0,0,0.04) 100%),
                linear-gradient(to bottom, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0) 26%); /* W3C */

    box-shadow: inset 10px 0px 160px -1px rgba(10, 10, 10, 0.5);
    -webkit-box-shadow: inset 10px 0px 160px -1px rgba(10, 10, 10, 0.5);
}
#jcv.state-0 #back_box {
    -webkit-transform: translate3d(-1000px,25px,-100px);
}
#jcv #box_content .right_shadow {
	display:none;

}
#jcv #box_content .right_shadow .outer_shadow {
    height: 360px;
    -webkit-transform: rotate3d(0,1,0,90deg);
    -webkit-transform-origin: 0% 50% 0px;
    
}
#jcv #box_content .right_shadow .shadow_box {
    height: 269px;
    width: 100px;
    margin: 0px 0px 0px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(50%,rgba(204,204,204,0.5)), color-stop(60%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.25) 0%,rgba(204,204,204,0.5) 50%,rgba(204,204,204,1) 60%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%,rgba(204,204,204,0.5) 50%,rgba(204,204,204,1) 60%); /* W3C */

    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(80%, transparent), to(rgba(255, 255, 255, 0.3)));
}
#jcv #box_content #back_box .right_shadow .shadow_box {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.25)), color-stop(1%,rgba(4,4,4,0.25)), color-stop(40%,rgba(168,167,166,0.6)), color-stop(54%,rgba(193,193,193,1)), color-stop(60%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%,rgba(4, 4, 4, 0.35) 0.7%,rgba(168, 167, 166, 0.6) 40%,rgba(193, 193, 193, .8) 54%,rgba(204, 204, 204, 1) 60%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(4,4,4,0.35) 0.7%,rgba(168,167,166,0.6) 40%,rgba(193,193,193,.8) 54%,rgba(204,204,204,1) 60%); /* W3C */

    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(80%, transparent), to(rgba(255, 255, 255, 0.3)));
}
#jcv #box_content #back_box .tab .right_shadow .shadow_box {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(89,84,74,0.7)), color-stop(100%,rgba(0,0,0,0.25))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(89,84,74,0.75) 0%,rgba(0,0,0,0.35) 97%,rgba(0,0,0,0.19) 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, rgba(89,84,74,0.75) 0%,rgba(0,0,0,0.35) 97%,rgba(0,0,0,0.19) 100%); /* W3C */
}
#jcv #box_content .right_shadow.box_shadow .shadow_box {
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.2);
}
#jcv #icon_stack {
    height: 135px;
}
#jcv.state-0 #icon_stack {
    height: 85px;
}
#jcv.state-0 footer #nurse {
    opacity: 0;
    height: 0px;
    overflow: hidden;
}
#jcv.state-0 footer .statement {
    height: 0px;
    overflow: hidden;
}

#jcv.state-0  footer .jcv-, #jcv.state-0  footer .jcv_plus, 
#jcv.state-1  footer .jcv_plus, 
#jcv.state-2  footer .jcv-, 
{
    opacity: 0;
}


#jcv.state-3.risk4 .jcv_plus.statement {
	opacity: 1;
}

/*JCARROLL ADDITIONS 7/31*/

.content.jcv-,
.content.jcv_plus{
	position:absolute;
	top:50px;
	left:20px;
    z-index: 1;
    -webkit-transform: translate3d(0,0,1px);
}

.content.risk_pml{
	position:absolute;
	padding-top: 22px;
    z-index: 1;
    -webkit-transform: translate3d(0,0,1px);
}

.content.risk_pml ul {
    list-style: none; 
    padding: 0; 
    margin: 10px 0 0 14px;
}

.content.risk_pml ul li {
    margin-left: 0px;
    } 
.content.risk_pml h2{
    text-align: center;
}
.content.risk_pml ul.titles li{
    float:left; 
    width:170px; 
    text-align:center; 
    margin:0 15px; 
    moz-border-radius:10px; 
    border-radius:10px; 
    display:block; 
    height:38px; 
    overflow:hidden;
    padding: 3px 0 0; 
    color:#fff; 
    background:#11a8ed; 
    -webkit-box-shadow: inset 0 0 10px 2px rgba(170, 170, 170, 0.6), 1px 1px 5px 0px rgba(0, 0, 0, 0.7); 
    line-height: 16px; 
    font-size: 19px; 
    text-shadow: 1px 1px 2px #999;
}
.content.risk_pml ul.titles li:first-child {
    background:#FAA33A !important; 
    padding-top: 12px; 
    height: 28px;
}


/* Styling the risks table */

.risk_container { 
    background: #fff; 
    width: 608px; 
    margin: 25px 0 0 10px; 
    border-radius: 10px; 
    -webkit-box-shadow: inset 1px 1px 5px 1px rgba(0, 0, 0, 0.5); 
    padding-bottom: 15px;
}
.risk_container ul li {
    float:left;
    width: 192px; 
    height:22px;
    display:block;
    padding-bottom: 9px;
}
.risk_container ul li.top {
    border-bottom:1px solid #ccc; 
    padding-bottom: 15px;
}
.risk_container ul li.left { 
    border-right:1px solid #ccc;
}
.risk_container ul li div { 
    text-align:center; 
    padding-top: 10px; 
    color: #333;
}
#jcv_pi_2or_more_years {
	border-right: none;
}

/* added a clear fix for float issue on background */ .clearfix{clear:both;}


#jcv.state-7 .show_all {
	/* -webkit-transition: opacity .6s ease-in; */
	opacity: 0.4;
}
/*show/hide State 1*/
#jcv .head_list_item, #jcv .content.jcv_plus, #jcv .content.risk_pml, #jcv .content.jcv- {
opacity:0;
    /* -webkit-transition: opacity .5s ease-in; */
}
#jcv.state-1 .content.jcv- {
opacity:1;
	/* -webkit-transition: opacity .5s .5s ease-in; */
}

/*show/hide State 2*/
#jcv.state-2 .content.jcv_plus {
opacity:1;
	/* -webkit-transition: opacity .5s .5s ease-in; */
}

#jcv.state-3 .risk_pml, 
#jcv.state-4 .risk_pml, 
#jcv.state-5 .risk_pml, 
#jcv.state-6 .risk_pml, 
#jcv.state-7 .risk_pml {
opacity:1;
	/* -webkit-transition: opacity .5s .5s ease-in; */
}


#jcv.contents h2.inner-content-header{
	padding-left: 20px;
	width: 570px;
}
#jcv .content.jcv_plus ul {
    margin-top: 0px;
}
#jcv .content.jcv- ul li, #jcv .content.jcv_plus ul li {
	padding: 0;
	font-weight: 300;
	font-size: 20px;
	margin: 0 40px 0 0px;
	font-family: ITCFranklinGothicStd, arial, sans-serif;
	float: left;
	width: 230px;
	color: #F79546;
	min-height: 70px;
    padding-top: 15px;
}
#jcv .content.jcv- ul li span, #jcv .content.jcv_plus ul li span{
	color: #222;
}
#jcv .content.jcv- ul li:first-child, #jcv .content.jcv_plus ul li:first-child {
	border-right: 1px solid rgba(81, 85, 86, 0.4);
}

#jcv .risk_container .risk_table_click #risk4{
	color: #F4B022;
}
#jcv .risk_container .risk_table_click .risk {
	display:none;
	/* -webkit-transition: opacity .6s ease-in; */
    opacity: 0;
}
#jcv .risk_container .risk_table_click.tapped .risk {
	/*opacity: 1;*/
}

/* This is set in the base css, but I'm overiding some of the settings here */
#jcv footer .statement {
	font:FuturaStd, "Arial Narrow", arial, sans-serif !important;
    margin-bottom: 10px;
    margin-left: 50px;
    padding-left: 0px;
    margin-top: -80px;
	font-style:normal;
	background: #FFF;
    /* -webkit-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out; */
}
footer .jcv_plus, footer .jcv- {
	top: -105px;
	position: absolute;
	opacity: 0;
}
#jcv.state-1 footer .jcv-,
#jcv.state-2 footer .jcv_plus,
#jcv.risk4 .jcv_plus.statement,
#jcv.state-3 .jcv_plus.statement,
#jcv.state-4 .jcv_plus.statement ,
#jcv.state-5 .jcv_plus.statement ,
#jcv.state-6 .jcv_plus.statement ,
#jcv.state-7 .jcv_plus.statement {
	opacity: 1;
}

#jcv .jcv_plus.statement.glow{

	-webkit-animation: statement-orange-glow 1s linear;
	
}

/*#jcv.state-7 .jcv_plus.statement{

	-webkit-animation: statement-orange-glow 1s linear;
	
}*/


@-webkit-keyframes statement-orange-glow {
    0% {color: #F4B022;}
	50% {color: #F4B022;}
	100% {color: #0298D8;}
}
.content risk_pml.bottom_line{
	top:10px;
	left:20px; 
}

/* Styling the risks states 3-6 */

.content #risk1, .content #risk2, .content #risk3, .content #risk4{
	list-style:none;
}


/* style for orange text*/
.orange_text{
	color:#F79546;
}

#jcv footer .statement{
	width: 647px;
    background-color: transparent;
}


#jcv .bottom_line {
font: normal 20px ITCFranklinGothicStd, "Arial Narrow",arial;
margin-top: 20px;
margin-left: 15px;
}


#back_box .front_face{
	display:block;}
	
#backbox_bg img{
	position:absolute;
	top:0;
	left:0;
}

#back_box #backbox_bg .image-back{opacity:1;}
#back_box #backbox_bg .image-forward{opacity:0;}

#front_box #backbox_bg .image-back{opacity:0;}
#front_box #backbox_bg .image-forward{opacity:1;}

/* new css changes */

#rightTab .right_shadow{
	display:none;
}


#leftTab .right_shadow{
	display:none;
}

/*new for JCV img fix*/

#jcv.state-0 #JCVplus, #jcv.state-0 #JCV- {
       display:block;
}

#jcv.state-0 #JCVplus .bg_img, #jcv.state-0 #JCV- .bg_img{
       display:block;
}

#jcv.state-1 #JCVplus, #jcv.state-2 #JCVplus,#jcv.state-3 #JCVplus,#jcv.state-4 #JCVplus,#jcv.state-5 #JCVplus,#jcv.state-6 #JCVplus,#jcv.state-7 #JCVplus
{
       display:none;
}
#jcv.state-1 #JCV-,#jcv.state-2 #JCV-,#jcv.state-3 #JCV-,#jcv.state-4 #JCV-,#jcv.state-5 #JCV-,#jcv.state-6 #JCV-,#jcv.state-7 #JCV-
{
       display:none;
}

